/ForLoop.class
/IfCalc.class
/IncerementDecerement.class
/IncerementDecerement1.class
/Student.class
/SwitchCase.class
/TestFor.class
/TestIfCalc.class
/TestSwitchCase.class
/TestWhlieLoop.class
/WhileLoop.class
